<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        {{ mensaje }}
        <input type="text" v-model='nuevaFruta' @keyup.enter='agregarFruta'>
        <button @click='agregarFruta'>Agregar Fruta</button>
        <ul>
            <li v-for="fruta of frutas">
                <button @click='fruta.cantidad --'>-</button>
                <input type="text" v-model='fruta.cantidad'>
                <button @click='fruta.cantidad ++'>+</button>
                {{fruta.nombre}}
                <span v-if="fruta.cantidad==0">- no hay stock</span>
            </li>
        </ul>
        <h4>Total: {{sumarFruta}}</h4>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="1.js"></script>
</body>
</html>